$tablet-width: 800px;
$desktop-width: 1230px;
$max-width: 1920px;

$retina-dppx: 1.5dppx;

$font: "proxima_nova", "Arial", sans-serif;

$text-color: #464646;
$text-dark: #010101;
$text-white: #ffffff;
$text-color-accent: #bea67c;

$color-accent: #bea67c;
$color-white: #ffffff;
$color-background: #030202;
$color-bg: #181818;
